body, html {
    height: 100%;
    margin: 0;
  }

  /*bg color*/
  .gradient {
    background: linear-gradient(300deg,#599cc3,#599ac3,#59C3C3,#88B7B5,#9bcac7,#9accca,#A7CAB1,#c1d6c6,#cce0d1,#ddccea,#d6c1e6,#b19ec0,#847996,#685980);
    background-size: 240% 240%;
    animation: gradient-animation 17s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .submit{
    padding: 15px 40px;
    background: #dae3e0;
    border:0;
    border-radius: 25px;
    color: #515856 ;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 10px;
  }
  
  .submit::after,
  .submit::before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
      opacity: 0;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .submit::after{
      width: 30px;
      height: 1px;
      background: #515856;
      transform: translateX(-3px);
      margin-top: 0px;
  }
  
  .submit::before{
      content: "";
      transform: rotate(-135deg) translateX(50%);
      width: 11px;
      height: 11px;
      background: transparent;
      border-left: 1px solid #515856;
      border-bottom: 1px solid #515856;
      margin-top: -1px;
  }
  
  .submit:hover{
    padding: 15px 60px 15px 20px;
  }
  
  .submit:hover::after,
  .submit:hover::before{
    opacity: 1;
    right: 15px;
  }
  
  /*text*/
  .header{
    margin-top: 20px;
    margin-left: 42%;
    margin-bottom: 20px;
    font-size: 30px;
    color: #515856;
    font-family: Impact;
    text-transform: uppercase;
  }
  .formbg{
    width: 500px;
    height: 400px;
    margin-top: 20px;
    margin-left: 31%;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    /*box shadow*/
    padding: 10px;
    box-shadow: 10px 10px 60px rgb(61, 61, 61);
    border-radius: 25px; 
    /*border radius fixed at 25px for Rounded corners*/
    opacity: 90%;
  }
  .fname{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #515856;
  }
  .txt{
    margin-bottom: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: #515856;
    text-align: justify;
  }
  .output1{
    width: 500px;
    height: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: 31%;
    margin-bottom: 20px;
    font-family: 'Gill Sans', sans-serif;
    /*border radius fixed at 25px for Rounded corners*/
    opacity: 90%;
  }